<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <title>SECRETS</title>
    <link rel="stylesheet" href="home.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header-footer">
      <button class="home-button" onclick="window.location.href='/adminhome'">
        <i class="fas fa-home"></i>
      </button>
      <h1 class="title">REQUESTS</h1>
      <button
        class="create-button"
        onclick="window.location.href='/confessionrequest'"
      >
        <i class="fa-solid fa-envelope"></i>
      </button>
    </header>
    <div class="admin-body">
      <% foundpost.reverse().forEach(function name(found) { %>
      <form action="/confessionrequest" method="post">
        <div class="post">
          <div class="post-header">
            <div>
              <img class="logo" />
            </div>
            <div class="post-username">
              <h3><%= found.title %></h3>
            </div>
          </div>
          <div class="post-content">
            <p><%= found.content %></p>
          </div>
          <div class="time">
            <p><%= found.uploadTime %></p>
          </div>
          <input type="hidden" name="title" value="<%= found.title %>" />
          <input type="hidden" name="content" value="<%= found.content %>" />
          <input
            type="hidden"
            name="uploadTime"
            value="<%= found.uploadTime %>"
          />
          <input type="hidden" name="id" value="<%= found._id %>" />
          <button class="accept" name="accept" value="accept">ACCEPT</button>
          <button class="reject" name="reject" value="reject">REJECT</button>
        </div>
      </form>
      <% }); %>
    </div>
    <footer class="twitter-footer">
      <div class="twitter-footer-content">
        <p>You Can Post your Secrets anonymously</p>
      </div>
    </footer>
  </body>
</html>
